* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
    
}



@media (min-width:600px) {
    .div2 {
        padding: 0 100px;
    }
    .div3 {
        margin: 0 70px;
    }
}

@media (min-width:800px) {
    .div2 {
        padding: 0 150px;
    }
    .div3 {
        margin: 0 120px;
    }
}

@media (min-width:1000px) {
    .div2 {
        padding: 0 200px;
    }
    .div3 {
        margin: 0 190px;
    }
}

@media (min-width:1200px) {
    .div2 {
        padding: 0 250px;
    }
    .div3 {
        margin: 0 280px;
    }
}

@media (min-width:1400px) {
    .div2 {
        padding: 0 330px;
    }
    .div3 {
        margin: 0 340px;
    }
}





body {
    padding: 0 20px;
    background-color: #000;
}

.modo {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.fa-sun, .fa-moon {
    color: #fff;
}

.modos {
    transform: scale(1.7);
}

h1 {
    color: #fff;
}

header {
    background: #000;
    width: 100%;
    height: auto;
    padding: 20px 0;
    text-align: center;
}

.div1 {
    padding: 20px 0;
}

img {
    width: 150px;
    border-radius: 50%;
}

p {
    font-size: 16px;
    text-align: center;
    line-height: 1.4;
    color: #fff;
}

.div3 {
    padding: 20px 0;
}

.caja {
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    margin: 15px 0;
    background: rgb(255, 190, 164);
    cursor: pointer;
}


a {
    text-decoration: none;
}



footer {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.redes {
    margin: 0 20px;
    transform: scale(1.5);
    cursor: pointer;
    
}

@keyframes animacion {
    0% {
        rotate: -20deg;
    }
    50% {
        rotate: 20deg;
    }
    100% {
        rotate: -20deg;
    }
}

.caja:hover > .enlace > .redes {
    transition: 1s;
    animation-name: animacion;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.caja1 {
    background-color: rgb(0, 79, 79);
}

.icono1 {
    color: rgb(25, 255, 255);
}

.enlace1 {
    color: rgb(25, 255, 255);
}



.caja2 {
    background-color: rgb(0, 36, 80);
}

.icono2 {
    color: rgb(145, 149, 255);
}

.enlace2 {
    color: rgb(145, 149, 255);
}



.caja3 {
    background-color: rgb(0, 61, 14);
}

.icono3 {
    color: rgb(62, 235, 120);
}

.enlace3 {
    color: rgb(62, 235, 120);
}


.caja4 {
    background-color: rgb(0, 33, 164);
}

.icono4 {
    color: rgb(151, 179, 255);
}

.enlace4 {
    color: rgb(151, 179, 255);
}


.caja5 {
    background-color: rgb(96, 0, 43);
}

.icono5 {
    color: rgb(255, 0, 132);
}

.enlace5 {
    color: rgb(255, 0, 132);
}